:root {
  /*Primary*/
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  /*Neutral*/
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

@media (min-width: 375px) {

   
}

@media (min-width: 768px) {

    .nav-items {
        list-style: none;
        text-transform: uppercase;
        display: flex;
    } 

    .nav-burger {
        display: none;
        color: ;
    }

    a.nav-link {
        text-decoration: none;
        padding-right: 3rem;
        color: var(--Dark-Grayish-Violet); 
    }

    .footer-logos {
        flex-direction: row;
        justify-content: space-between;
    }
   

}

@media (min-width: 1024px) {
       
    .mw {
      width: 77.08%;
    }
      
    

}
