:root {
  /*Primary*/
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  /*Neutral*/
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

/*Headings
  font-family: 'DM Serif Display', serif;
  Weights: 400
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Karla', sans-serif; /*400, 700*/
}

h1, h2, h3 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
}