:root {
  /*Primary*/
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  /*Neutral*/
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

/*Headings
  font-family: 'DM Serif Display', serif;
  Weights: 400
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Karla', sans-serif; /*400, 700*/
}

h1, h2, h3 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
}

.mw {
  width: 87.5%;
}

.navbar {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0 3rem 0;
}

.nav-items {
  display: none;
}


/*HERO*/
.hero-box {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.hero-mobile__img {
  width: 100%;
}

.hero-desk__img {
  display: none;
  width: 100%;
}

.hero-section {
  position: relative;
  background-color: var(--Dark-Violet)
}

.pattern-top-mob {
  position: absolute;
  z-index: 0;
  top: 45rem;
  left: 0px;
}

.pattern-bottom-mob {
  position: absolute;
  z-index: 0;
  top: 810px;
  right: 0px;
}

.hero-box {
  z-index: 3;
  padding-top: 9rem;
}

.hr_desktop {
  display: none;
}

.hero-header1, 
.hero-desc {
  color: #fff;
}

.hero-header1 {
  font-size: 4.5rem;
  line-height: 1em;
  margin-bottom: 2rem;
}

.hero-desc {
  font-size: 1.6rem;
  line-height: 1.7em;
  margin-bottom: 4rem;
}

.hero-button {
  margin-bottom: 9.3rem;
}

.btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 2.9rem;
  
}

.btn-default {
  color: #fff;
  border: 1px solid #fff;
}


.footer-logos {
  display: flex;
  flex-direction: column;
}